<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mobinming.cloud_service.mapper.NoteCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mobinming.cloud_service.entity.NoteCategory">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="edit_time" property="editTime" />
        <result column="user_id" property="userId" />
        <result column="imgUrl" property="imgUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, edit_time, user_id, imgUrl
    </sql>

</mapper>
