<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mobinming.cloud_service.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mobinming.cloud_service.entity.User">
        <id column="id" property="id"/>
        <result column="phone" property="phone"/>
        <result column="alias_name" property="aliasName"/>
        <result column="head_url" property="headUrl"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="user_name" property="userName"/>
        <result column="token" property="token"/>
        <result column="register_time" property="registerTime"/>
        <result column="signature" property="signature"/>
        <result column="id_card" property="idCard"/>
        <result column="gender" property="gender"/>
        <result column="friends_id" property="friendsId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, phone, alias_name, head_url, password, email, user_name, token, register_time, signature, id_card, gender,friends_id
    </sql>

</mapper>
